@charset "UTF-8";
.container {
  /*width: 100%;*/
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /*background-color: turquoise;
  outline: 1px solid tomato;*/
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container--container-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.page-header {
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.page-header .site-contacts__contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .page-header .site-contacts__contacts-link {
    display: block;
  }
}

.page-header .site-contacts__contacts-item {
  display: none;
}

@media (min-width: 768px) {
  .page-header .site-contacts__contacts-item {
    display: block;
  }
}

@media (min-width: 1200px) {
  .page-header .site-contacts__contacts-item:not(:last-child) {
    margin-right: 50px;
  }
}

.page-header .site-contacts .site-contacts__contacts-item + .site-contacts__contacts-item {
  margin-left: 50px;
}

@media (min-width: 768px) {
  .page-header .site-contacts {
    display: block;
  }
}

@media (min-width: 1200px) {
  .page-header .site-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*Утилиты*/
.list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  display: block;
}

.page-header .logo {
  margin-right: 93px;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
}

.logo--logo-color {
  color: #000000;
}

.page-header {
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.page-header .site-contacts__contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .page-header .site-contacts__contacts-link {
    display: block;
  }
}

.page-header .site-contacts__contacts-item {
  display: none;
}

@media (min-width: 768px) {
  .page-header .site-contacts__contacts-item {
    display: block;
  }
}

@media (min-width: 1200px) {
  .page-header .site-contacts__contacts-item:not(:last-child) {
    margin-right: 50px;
  }
}

.page-header .site-contacts .site-contacts__contacts-item + .site-contacts__contacts-item {
  margin-left: 50px;
}

@media (min-width: 768px) {
  .page-header .site-contacts {
    display: block;
  }
}

@media (min-width: 1200px) {
  .page-header .site-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-nav__nav-list {
  display: none;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

@media (min-width: 768px) {
  .site-nav__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__nav-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  /*font-size: 14px;*/
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  border-radius: 4px;
  display: block;
  width: 0%;
  height: 4px;
  background-color: #2196f3;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__nav-link:hover::after {
  opacity: 1;
  width: 100%;
}

.site-nav__nav-link:hover, .site-nav__nav-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.site-nav__nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  opacity: 1;
}

.site-nav .site-nav__nav-link.current {
  color: #2196f3;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*----Модальное окно-----*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  text-align: left;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

/*.folow__folow-input:-webkit-autofill,
.folow__folow-input:-webkit-autofill:hover,
.folow__folow-input:-webkit-autofill:focus,
.folow__folow-input:-webkit-autofill:active,
.modal__modal-input:-webkit-autofill,
.modal__modal-input:-webkit-autofill:hover,
.modal__modal-input:-webkit-autofill:focus,
.modal__modal-input:-webkit-autofill:active,
.modal__modal-comment:-webkit-autofill,
.modal__modal-comment:-webkit-autofill:hover,
.modal__modal-comment:-webkit-autofill:focus,
.modal__modal-comment:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  /*-webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/
.folow__folow-input:-webkit-autofill:hover, .folow__folow-input:-webkit-autofill:focus, .folow__folow-input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
          box-shadow: 0 0 0px 1000px #fff inset;
  /*----------на эту строку ругается компилятор*/
}

.modal__modal-input:-webkit-autofill:hover, .modal__modal-input:-webkit-autofill:focus, .modal__modal-input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
          box-shadow: 0 0 0px 1000px #fff inset;
  /*----------на эту строку ругается компилятор*/
}

.modal__modal-comment:-webkit-autofill:hover, .modal__modal-comment:-webkit-autofill:focus, .modal__modal-comment:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
          box-shadow: 0 0 0px 1000px #fff inset;
  /*----------на эту строку ругается компилятор*/
}

.modal__modal-comment {
  padding: 12px 16px;
  resize: none;
  width: 448px;
  height: 138px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__modal-comment::-webkit-input-placeholder {
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__modal-comment:-ms-input-placeholder {
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__modal-comment::-ms-input-placeholder {
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__modal-comment::placeholder {
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/*-----modal form---------*/
.modal__button-modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.modal__button-modal-close:hover, .modal__button-modal-close:focus {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  border: 1px solid #2196f3;
}

.modal__modal-close-icon {
  width: 18px;
  height: 18px;
}

.modal__modal-label,
.modal__modal-input,
.modal__modal-icon {
  display: block;
}

.modal__modal-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0;
  padding-left: 42px;
}

.modal__modal-input:hover, .modal__modal-input:focus {
  border-color: #2196f3;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal__modal-label {
  font-size: 12px;
  line-height: calc(14 / 12);
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal__modal-content-text {
  font-weight: bold;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  position: relative;
  color: #212121;
  margin-bottom: 12px;
}

.modal__modal-button,
.folow__folow-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
}

.modal__modal-button {
  position: relative;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.modal__modal-button:focus, .modal__modal-button:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(94, 68, 68, 0.25);
          box-shadow: 0px 4px 4px rgba(94, 68, 68, 0.25);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__modal-field {
  position: relative;
  margin-bottom: 10px;
}

.modal__modal-field-area {
  position: relative;
  margin-bottom: 20px;
}

.modal__modal-input:hover + .modal__modal-icon, .modal__modal-input:focus + .modal__modal-icon {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: $accent-color;
  transition: fill 250ms $timing-function;
}*/
.modal__modal-comment:hover, .modal__modal-comment:focus {
  border-color: #2196f3;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal__modal-icon {
  position: absolute;
  left: 12px;
  top: 29px;
}

.p-policy {
  display: inline-block;
  line-height: calc(24 / 14);
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
  /*outline: 1px solid rgb(187, 48, 48);*/
}

.p-policy__modal-link {
  line-height: calc(24 / 14);
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.modal__modal-check-box {
  position: relative;
  margin-bottom: 30px;
  padding-left: 13px;
}

.p-policy__modal-p-policy-icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.p-policy__modal-check-box-input:focus + .p-policy__modal-p-policy-icon, .p-policy__modal-check-box-input:hover + .p-policy__modal-p-policy-icon {
  border: 2px solid #2196f3;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.modal-check-box-input:focus + .modal-p-policy-icon,
.modal-check-box-input:hover + .modal-p-policy-icon {
  border: 2px solid $accent-color;
  transition: border-color 250ms $timing-function;
}*/
.p-policy__modal-check-box-input:checked + .p-policy__modal-p-policy-icon {
  background-color: #2196f3;
  border: 2px solid #2196f3;
  border-radius: 2px;
  background-image: url(../images/svg/background/vector8.svg);
  background-size: contain;
  background-origin: padding-box;
  background-repeat: no-repeat;
}

.p-policy__modal-check-box-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.folow__folow-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.folow__folow-button-icon {
  margin-left: 10px;
}

.folow__folow-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  padding: 15px 0px 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
}

.folow__folow-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  /* identical to box height, or 125% */
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.folow__folow-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  /* identical to box height, or 125% */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.folow__folow-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  /* identical to box height, or 125% */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.folow__folow-input::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  /* identical to box height, or 125% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*--------------Footer-----------------*/
.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer .adr__adr-text {
  display: block;
  margin-bottom: 9px;
}

.page-footer .site-contacts {
  display: inline-block;
}

.page-footer .logo {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
}

.page-footer .sosial-links {
  margin: 0;
}

.page-footer .sosial-links__sosial-link {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}

.page-footer .sosial-links__sosial-link:hover, .page-footer .sosial-links__sosial-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.page-footer .logo--logo-color {
  color: #ffffff;
}

.page-footer .site-contacts__contacts-link {
  display: inline-block;
}

.page-footer .site-contacts__contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer__footer-content {
  display: block;
}

@media (min-width: 1200px) {
  .page-footer__footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 768px) {
  .page-footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.subscribe__subscribe-text,
.folow__folow-text {
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe {
  margin-right: auto;
}

.sosial-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*margin-bottom: 30px;*/
  /*margin-left: 32px;
  margin-right: 32px;*/
  padding: 0;
}

.sosial-links__sosial-icon {
  fill: currentColor;
}

.sosial-links__sosial-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  /*padding: 0;*/
  border: none;
  border-radius: 50%;
  /*padding: 12px 12px;*/
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sosial-links__sosial-link:hover, .sosial-links__sosial-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.sosial-links__sosial-item:not(:last-child) {
  margin-right: 10px;
}

.clients-section__clients-title {
  margin-bottom: 50px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
}

@media (min-width: 1200px) {
  .clients-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

.clients-list__clients-item {
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
  margin-right: 30px;
  /*&:not(:last-child) {
    margin-right: 30px;
  }*/
}

@media (min-width: 768px) {
  .clients-list__clients-item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .clients-list__clients-item {
    /*max-width: 270px;*/
  }
  .clients-list__clients-item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list__clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
}

.clients-list__clients-link:hover, .clients-list__clients-link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__clients-icon {
  /*margin: 16px 32px;*/
  fill: currentColor;
}

.projects-list {
  display: block;
  /*padding: 0px;
  margin: 0px;*/
}

@media (min-width: 768px) {
  .projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.projects-list__projects-item {
  margin-left: 30px;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .projects-list__projects-item {
    /*max-width: 354px;*/
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .projects-list__projects-item {
    /*max-width: 270px;*/
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    /*&:not(:last-child) {
    margin-right: 30px;*/
  }
}

.projects-list__project-item-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.projects-list__projects-item-link:focus, .projects-list__projects-item-link:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(94, 68, 68, 0.25);
          box-shadow: 0px 4px 4px rgba(94, 68, 68, 0.25);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list__projects-overlay {
  position: relative;
  overflow: hidden;
}

.projects-list__projects-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #ffffff;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list__projects-item:hover .projects-list__projects-overlay-text,
.projects-list__projects-item-link:focus .projects-list__projects-overlay-text {
  -webkit-transform: translatey(0%);
          transform: translatey(0%);
  opacity: 1;
}

.projects-section {
  background-color: #ffffff;
}

.projects-list__projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.projects-list__projects-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-list {
  display: block;
  margin-bottom: -30px;
  margin-right: -30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
  }
}

.team-list__team-item {
  /*flex-basis: calc(100% / 4 - 30px);*/
  margin-bottom: 30px;
  margin-right: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 0px solid #ffffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media (min-width: 768px) {
  .team-list__team-item {
    /*max-width: 354px;*/
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .team-list__team-item {
    /*max-width: 270px;*/
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
    /*&:not(:last-child) {
    margin-right: 30px;*/
  }
}

.team-list__team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list__team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team-list__team-item-description {
  /*margin-bottom: 16px;*/
  padding: 30px 32px;
}

.team-section {
  background-color: #f5f4fa;
}

.team-section__team-title {
  margin-bottom: 50px;
}

.team-list__team-member {
  margin-bottom: 10px;
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works-section__works-title {
  margin-bottom: 50px;
}

.works-list__works-list-overlay {
  position: relative;
}

.works-list__works-list-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  /*padding-top: 27px;*/
}

.works-list__works-list-item:not(:last-child) {
  margin-right: 30px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-nav__nav-list {
  display: none;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

@media (min-width: 768px) {
  .site-nav__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__nav-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  /*font-size: 14px;*/
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  border-radius: 4px;
  display: block;
  width: 0%;
  height: 4px;
  background-color: #2196f3;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__nav-link:hover::after {
  opacity: 1;
  width: 100%;
}

.site-nav__nav-link:hover, .site-nav__nav-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.site-nav__nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  opacity: 1;
}

.site-nav .site-nav__nav-link.current {
  color: #2196f3;
}

.filter__filter-button {
  padding: 6px 22px;
  cursor: pointer;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter .hero-section__hero-button.filter__filter-button--current {
  color: #ffffff;
  background-color: #2196f3;
}

.filter__filter-list-item:not(:last-child) {
  margin-right: 8px;
}

/*----------HERO Section------------*/
.hero-section {
  /*outline: 1px solid red;*/
  text-align: center;
  padding-bottom: 118px;
  padding-top: 118px;
  background-color: #2f303a;
}

@media (mіn-width: 768px) {
  .hero-section {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

.hero-section__hero-title {
  display: block;
  margin-bottom: 30px;
  min-width: auto;
  width: 360px;
  /*696px;*/
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  /*44px;*/
  line-height: 1.62;
  /*1.36;*/
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero-section__hero-title {
    margin-left: 204px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section__hero-title {
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-section__hero-button {
  /*margin-bottom: 200px;*/
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section__hero-button:focus, .hero-section__hero-button:hover {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(94, 68, 68, 0.25);
          box-shadow: 0px 4px 4px rgba(94, 68, 68, 0.25);
}

.overlay {
  max-width: 480px;
  /*1600px;*/
  height: 400px;
  /*600px;*/
  /*margin-left: auto;
  margin-right: auto;*/
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptiv/mob/hero/mob-header-img.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptiv/mob/hero/mob-header-img.png);
  /*url(../images/hero/hero-bg.jpg);*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    max-width: 480px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptiv/mob/hero/mob-header-img-2x.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptiv/mob/hero/mob-header-img-2x.png);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptiv/tab/hero/tab-header-img.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptiv/tab/hero/tab-header-img.png);
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptiv/tab/hero/tab-header-img-2x.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptiv/tab/hero/tab-header-img-2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptiv/desk/hero/desk-header-img.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptiv/desk/hero/desk-header-img.png);
  }
}

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptiv/desk/hero/desk-header-img-2x.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptiv/desk/hero/desk-header-img-2x.png);
  }
}

.main-button {
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.main-button:hover, .main-button:focus {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
}

.site-contacts__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  /*font-size: 14px;*/
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts__contacts-link:hover, .site-contacts__contacts-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.site-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-left: 0px;
}

.site-contacts__contacts-icon-tel {
  margin-right: 10px;
  vertical-align: middle;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts__contacts-icon-tel:focus, .site-contacts__contacts-icon-tel:hover {
  fill: #2196f3;
}

.site-contacts__contacts-icon-letter {
  margin-right: 10px;
  vertical-align: baseline;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts__contacts-icon-letter:focus, .site-contacts__contacts-icon-letter:hover {
  fill: #2196f3;
}

.site-contacts__contacts-item:focus, .site-contacts__contacts-item:hover {
  fill: #2196f3;
}

.contact-information {
  margin-right: 70px;
}

.adr__adr-text {
  /*font-size: 14px;*/
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 480px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.works-section {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .works-section {
    display: none;
  }
}

.works-section__works-title,
.team-section__team-title,
.clients-section__clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.works-section,
.key-text-section {
  background-color: #ffffff;
}

.key-text-list {
  display: block;
  /*@media (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    margin-right: -30px;
  }*/
}

@media (min-width: 768px) {
  .key-text-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
  }
}

.key-text-list__key-text-item {
  /*width: 450px;*/
}

@media (min-width: 768px) {
  .key-text-list__key-text-item {
    /*max-width: 354px;*/
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .key-text-list__key-text-item {
    /*max-width: 270px;*/
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
    /*&:not(:last-child) {
    margin-right: 30px;*/
  }
}

.key-text-section {
  display: block;
}

@media (min-width: 768px) {
  .key-text-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.key-text-list__features {
  margin-bottom: 10px;
  font-weight: 700;
  /*font-size: 14px;*/
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.key-text-list__features-text {
  /*font-size: 14px;*/
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.key-text-list__background-icon {
  /*width: 450px; */
  /*width: 270px;*/
  text-align: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /*background-size: 65, 32px 70px;*/
}

@media (min-width: 768px) {
  .key-text-list__background-icon {
    /*width: 354px;*/
  }
}

.key-text-list__antenna {
  background-image: url(../images/svg/antenna.svg);
}

.key-text-list__clock {
  background-image: url(../images/svg/clock.svg);
}

.key-text-list__diagram {
  background-image: url(../images/svg/diagram.svg);
}

.key-text-list__astronaut {
  background-image: url(../images/svg/astronaut.svg);
}

.section--hidden-title {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.menu-button.is-open .menu-button__icon-menu {
  display: none;
}

.menu-container {
  display: none;
  position: fixed;
  top: 20%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding-left: 40px;
  padding-top: 48px;
  font-size: 20px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.menu-button {
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-toggle {
  position: absolute;
  height: 40px;
  width: 40px;
  color: #212121;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: transparent;
  margin-left: 0 auto;
  padding: 0;
  z-index: 2000;
  cursor: pointer;
  outline: none;
}

.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu__contacts-link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu__contacts-link--letter {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__sosial-links-link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu__sosial-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */