.page-header {
  .logo {
    margin-right: auto;
    @media screen and (min-width: 768px) {
      margin-right: 93px;
    }
  }
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $accent-color;
  font-family: "Raleway", sans-serif;
}
.logo--logo-color {
  color: $third-text-color;
}
