.backdrop {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms $timing-function, visibility 250ms $timing-function;
  z-index: 1;
  overflow-y: scroll;
  padding: 93px 15px 94px 15px;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
