.folow__folow-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.folow__folow-button-icon {
  margin-left: 10px;
}

.folow__folow-input {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: $third-background-color;

  padding: 15px 0px 15px 16px;
  color: rgba(255, 255, 255, 0.6);

  margin: 0px 15px 20px 15px;
  @media screen and(min-width: 768px) {
    margin-right: 12px;
    width: 358px;
  }
  &::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}
.folow {
  @media screen and(max-width: 767px) {
    text-align: center;
  }
}
