/*--------------Footer-----------------*/

.page-footer {
  background-color: $third-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  .adr{margin-bottom: 8px;
    @media screen and (min-width: 768px) {
      margin-bottom: 9px;
    }}
  .adr__adr-text {
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    color: $secondary-text-color;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
  }
  .site-contacts {
    display: inline-block;
  }
  .logo {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
  }
  .sosial-links {
    margin: 0;
  }
  .sosial-links__sosial-link {
    fill: $main-background-color;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms $timing-function;
    color: $main-background-color;
    &:hover,
    &:focus {
      fill: $main-background-color;
      background-color: $accent-color;
    }
  }
  .logo--logo-color {
    color: $main-title-color;
  }
  .site-contacts__contacts-link {
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
  }
  .site-contacts__contacts-item {
    &:not(:last-child) {
      margin-bottom: 8px;
      @media screen and (min-width: 768px) {
        margin-bottom: 9px;
      }
    }
  }
}

.page-footer__footer-content {
  display: block;

  @media (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.page-footer__links {
  @media (min-width: 768px) {
    display: flex;
    align-items:baseline;
    justify-content:space-around;
  }

@media screen and (min-width: 1200px){
  margin-right: 92px;
}
}

.subscribe__subscribe-text,
.folow__folow-text {
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-text-color;
  margin-bottom: 20px;
}


