.container {
  /*width: 100%;*/
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /*background-color: turquoise;
  outline: 1px solid tomato;*/
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
/*.container--container-feature {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}*/
