// .section {
//   padding-top: 60px;
//   padding-bottom: 60px;
// }

// @media (min-width: 480px) {
//   .section {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }
// }

// .works-section {
//   padding-bottom: 94px;
//   @media screen and (max-width: 1199px) {
//     display: none;
//   }
// }

.works-section__works-title,
.team-section__team-title,
.clients-section__clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  // text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-title-color;
}

.works-section,
.key-text-section {
  background-color: $main-background-color;
}
