$main-title-color: #ffffff;
$secondary-title-color: #212121;
$main-text-color: #757575;
$secondary-text-color: #ffffff;
$third-text-color: #000000;
$accent-color: #2196f3;
$main-background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$third-background-color: #2f303a;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
